{% extends "base.html" %} {% block title %}Home{% endblock %} {% set active_page = "people" %}{%block content%}
<br />


<h1 align="center">People in my Groups</h1>
<br />
<br />

<div class="container-fluid content-row">
  
  {% for group in groups %} 
  
 <h4><small class="text-muted">{{ group.group_name }}</small></h4>
<br/>
 {% for user in group.users%}
 {% if (loop.index) == 1 %}

  <div class="row ">
  
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card text-white bg-dark mb-3 h-100" style="width: 18rem">
        <div class="card-header">
          <img class="rounded-circle" alt="avatar1" src="{{ url_for('static', filename=user.iconFile) }}" />
          <h5>{{user.first_name }} {{user.last_name}}<h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
    {% elif ('%0.2f'| format(loop.index/3 | float
  % 1)) == '0.33' %}
  <div class="row ">
  
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card text-white bg-dark mb-3 h-100" style="width: 18rem">
        <div class="card-header">
          <img class="rounded-circle" alt="avatar1" src="{{ url_for('static', filename=user.iconFile) }}" />
          <h5>{{ user.first_name }} {{user.last_name}}<h5>
        </div>
        <div class="card-body">

          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
    {% elif ('%0.2f'| format(loop.index/3 | float
  % 1)) == '0.00' %}
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card text-white bg-dark mb-3 h-100" style="width: 18rem">
      <div class="card-header">
        <img class="rounded-circle" alt="avatar1" src="{{ url_for('static', filename=user.iconFile) }}" />
          <h5>{{ user.first_name }} {{user.last_name}}<h5>
      </div>
      <div class="card-body">

        <p class="card-text">{{user.email}}</p>
      </div>
    </div>
  </div>
</div>

<br/>
    {% else %}
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card text-white bg-dark mb-3 h-100" style="width: 18rem">
        <div class="card-header">
          <img class="rounded-circle" alt="avatar1" src="{{ url_for('static', filename=user.iconFile) }}" />
          <h5>{{ user.first_name }} {{user.last_name}}<h5></div>
        <div class="card-body">
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>



    {% endif %} {% endfor %}{% endfor %}
  </div>
  <div class="container-fluid content-row">
{%endblock%}